<!--The content below is only a placeholder and can be replaced.-->

<div style="color:white; background-color: purple; padding: 10px; ">
  <h2 style="text-align:center; margin-top: 20px; ">User Management Angular App ...! </h2>
</div>
<hr/>

  
<div class="container">
  <div class="row">  
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-4">
      <br/>
        <img src="../assets/images/users.png" />
    </div>
  </div>
  <br/><br/>
  <div>
      <footer><span class="text-danger"><strong>This site is copyright &copy; to LTI. 
        All rights are reserved here ..!</strong></span></footer>
  </div>
</div>
