<br/><br/>

  <div class="col-md-6 col-md-offset-2">
    <h3>Angular </h3>
    <br/>
    
      <h5>In this demo, we will learn about </h5>
      <ul class="text-success" style="font-weight: bold">
        <li>
            Angular Architecture
            <ul>
              <li>Modules</li>
              <li>Components
                  <ol>
                    <li>Root Component or App Component</li>
                  </ol>
              </li>
              <li>Services and Dependency Injection</li>
              <li>Models</li>
              <li>Directives</li>
              <li>Pipes, etc</li>
            </ul>
        </li>
      </ul>
    
  </div>
  <a class="text-right" [routerLink]="['/login']"><h3>Login..</h3></a>

